* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h4 {
  margin-bottom: 4px;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.green {
  color: #50ab50;
  font-size: 8px;
  font-weight: bolder;
}

.red {
  color: red;
  font-size: 8px;
  font-weight: bolder;
}

.logo img {
  width: 150px;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4868b1;
  position: relative;
  z-index: 1;
  padding: 32px 150px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links .menu {
  text-align: end;
  margin-top: -50px;
  margin-bottom: 40px;
}

.nav > .nav-links .menu > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links .menu > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.header_container {
  background: linear-gradient(to bottom, #4868B1, #6744B1);
  -webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  padding: 20px 20px 50px;
  width: 100%;
}

.header_container .column_container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header_container .column_container .column {
  width: 50%;
  color: white;
  padding: 20px;
}

.header_container .column_container .column .module {
  background-color: white;
  padding: 30px;
}

.header_container .column_container .column .module .source input,
.header_container .column_container .column .module .destination input {
  width: 100%;
  height: 40px;
}

.header_container .column_container .column .module .change {
  display: flex;
  flex-direction: row;
  height: 40px;
  font-size: 0.9rem;
  color: #333333;
}

.header_container .column_container .column .module .form_group {
  width: 100%;
}

.header_container .column_container .column .module .form_group input {
  width: 100%;
  height: 60px;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.card_container a {
  text-decoration: none;
}

.card_container .card {
  width: 8.5rem;
  height: 40px;
  background-color: #2b2b2d40;
  border: #4868B1 1px solid;
  margin-left: 1px;
  margin-bottom: 1px;
  padding: 6px;
  text-align: left;
}

.card_container .card .card_img {
  width: 16px;
  position: relative;
  float: right;
}

.card_container .card .card_text {
  font-size: 8px;
}

.card_container .card .card_title {
  margin-top: -3px;
  margin-bottom: -3px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

#container_charts {
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
          clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#container_charts .graph_card {
  border: #4868B1 1px solid;
  padding: 32px;
  width: 90%;
}

#container_charts canvas {
  width: 90% !important;
  height: 100% !important;
  margin: auto;
}

@media (max-width: 600px) {
  .nav {
    padding-top: 16px;
    padding-left: 10px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin: 4px;
  }

  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .header_container {
    padding: 10px 10px 50px !important;
  }

  .column_container {
    display: block !important;
  }

  .column_container .column {
    width: 100% !important;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  footer .container_links {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  footer .container_links .link_card {
    width: 100% !important;
  }
}

footer {
  background: linear-gradient(to top, #4868B1, #6744B1);
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
          clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  margin-top: 340px;
  text-align: center;
  padding: 20px;
  color: white;
}

footer .social_container {
  display: flex;
  justify-content: space-evenly;
  width: 8%;
  margin: auto;
}

footer .container_links {
  display: flex;
  width: 100%;
}

footer .container_links .link_card {
  width: 33%;
}

footer .container_links ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

footer ul {
  list-style: none;
  display: inline-flex;
}

